main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#category-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

#category-menu img {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
}

#category-menu img:hover {
  background-color: lightblue;
}

#category-menu .active-menu-item img {
  background-color: lightgreen;
}

section.category-section {
  display: flex;
  gap: 50px;
}

.inputs-container,
.outputs-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.from-container,
.to-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 20px;
}


.from-container {
  border: 3px dashed gray;
  background-color: lightgray;
}
.from-container.active {
  border: 3px solid green;
  background-color: lightgreen;
}
.to-container {
  border: 3px solid blue;
  background-color: lightblue;
}

.category-section input {
  font-size: 1.5em;
  width: 250px;
  border: none;
  outline: none;
}

/* for Firefox */
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

/* for Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select.unit-selector {
  background-color: white;
  font-size: 1.5em;
  padding: 6px;
  width: 100px;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  outline: none;
}

button.delete-button {
  background-color: white;
  border: none;
  outline: none;
}

button.delete-button:hover {
  color: red;
}

[hidden]{
  display: none !important;
}