main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#category-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

#category-menu img {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
}

#category-menu img:hover {
  background-color: lightblue;
}

#category-menu .active-menu-item img {
  background-color: lightgreen;
}

section.category-section {
  display: flex;
  gap: 50px;
}

.inputs-container,
.outputs-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
}

.from-container,
.to-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
}


.from-container {
  border: 3px dashed gray;
  background-color: lightgray;
}
.from-container.active {
  border: 3px solid green;
  background-color: lightgreen;
}
.to-container {
  border: 3px solid blue;
  background-color: lightblue;
}

[hidden]{
  display: none !important;
}